@import "../../styles/_colors";

.question-page {
  &__header {
    border-bottom: 1px solid $gray-light;
    font-size: 20px;
  }

  &__no-answers {
    text-align: center;
    padding: 30px;
    color: $gray-light;
  }
}