.author {
  margin-left: auto;
  padding: 10px;
  //background-color: $gray-lighter;
  display: flex;
  font-size: 1.2rem;

  &__image {
    flex: 0 0 40px;
    margin-right: 10px;

    &,
    img {
      width: 40px;
      height: 40px;
    }
  }
}