@import "~normalize.css";

@import "styles/themes/flatly/_variables";
@import "~bootstrap/dist/css/bootstrap.css";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "styles/themes/flatly/_bootswatch.scss";

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
}